{% load bootstrap5 %}
{% include 'base.html'%}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<body style="background-color:powderblue">
    {% if teams %}
        <div class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid red;">
                <th>Team</th>
                <th>Avatar</th>
                <th>Admin</th>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td><a href="{% url 'team' team.id %}">{{ team.name }}</a></td>
                        <td><img src="{{team.avatar_img.url}}" class="img-thumbnail" alt="None" style="max-width: 100px; max-height: 100px; cursor: pointer;" onclick="modalImg(this)"</td>
                        <td>{{team.admin}}</td><br>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No Teams are available.
    {% endif %}
    <div id="modal_image" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modal_body" class="modal-body" style="align-content: center;">
                    <img id="modal_img" class="img-thumbnail center-block" alt=None>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function modalImg(img) {
            $('#modal_img').attr('src', img.src);
            $('#modal_image').modal('show');
        }
    </script>
{% endblock %}
