{% load bootstrap5%}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'base.html'%}
<style>
    table, th, td {border: 1px solid black; border-collapse: collapse;}
    th, td {padding: 15px;}
    #choice {width: 200px;height: 40px;}
</style>
<body>
    <h1><font id="font" color="i">
        Hello you are on the {{team.name}} Team Page<br>
        your teams color is represented in the background</font></h1><br>
        <h2>your team Avatar is:<img  src="{{team.avatar_img.url}}" height="150" width="150"><br></h2>
        {% if not user.player.team  %}
            <a class="{{message.btn_color}}" href="{% url 'team_requests' user_id=user.player.id req_id=0 team_id=team.id %}">{{message.msg_short}}</a>
        {% endif %}
        {% if User.team.id == team.id %}
            <a class="btn btn-dark" href="{% url 'chatroom' pk=team.id %}">Team Chat</a>
        {% endif %}
    <form action="{% url 'team' team.id %}" method="get" class="form-inline">
        {% csrf_token %}
         <select class="form-control" name="choice" id="choice">
             <option value="5" href="/team/{{team.id}}" {% if choice == 5 %}selected{% endif %}>View 5 Players</option>
             <option value="10" href="/team/{{team.id}}" {% if choice == 10 %}selected{% endif %}>View 10 Players</option>
             <option value="{{player_list|length}}" href="/team/{{team.id}}"
                     {% if choice == player_list|length %}selected{% endif %}>View All</option>
         </select>
    </form>
    <table class="table table-bordered table-dark table-hover" style="width:100%">
        <thead>
            <tr><th colspan="2">Team members</th></tr>
            <tr><th colspan="2">Admin: {{ team.admin }}</th></tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>
                        <p class="h4">{{player}}</p>
                    </td>
                    {% if team.admin.user == request.user %}
                    <td>
                        <a class="btn btn-outline-danger" href="/delete_team_member/{{player.id}}/">Delete</a><br>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if players.has_other_pages %}
      <ul class="pagination">
        {% if players.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ players.previous_page_number }}">&clubs;</a></li>
        {% else %}
          <li class="disabled"><span class="page-link">&#8734;</span></li>
        {% endif %}
        {% for i in players.paginator.page_range %}
          {% if players.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span></span></li>
          {% else %}
            <li class=" active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if players.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ players.next_page_number }}">&hearts;</a></li>
        {% else %}
          <li class="disabled"><span class="page-link">&bull;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    {% if team.admin.user == request.user %}
        <table class="table table-bordered table-dark table-hover" style="width:100%">
            <tr><th colspan="2">Current Join Requests</th></tr>
            {% for player in req_playa %}
                <tr>
                    {% if player.team == team and player.status == 1 %}
                        <td>
                            <h4>{{player}}</h4>
                        </td>
                        {% if team.admin.user == request.user %}
                            <td>
                                <a class="btn btn-outline-success" href="{% url 'team_requests' user_id=player.id req_id=1 team_id=team.id%}">Add Player</a>
                                <a class="btn btn-outline-danger" href="{% url 'team_requests' user_id=player.id req_id=2 team_id=team.id%}">Deny Request</a>
                            </td>
                        {%endif%}
                    {%endif%}
                </tr>
            {%endfor%}
        </table>
    {% endif %}
</body>
<script>
    document.body.style.background = '{{team.color}}'
    window.onload = function()
        {
            if ( '{{team.color}}' === 'black' ){
                document.getElementById('font').color = '#FFFFFF'
                }
        }
    document.getElementById('choice').onchange = function()
        {
            var queryParams = new URLSearchParams(window.location.search);
            queryParams.set("choice", document.getElementById('choice').value);
            history.replaceState(null, null, "?"+queryParams.toString());
            location.replace(window.location.href)
        }
</script>
