{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'base.html'%}
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<title>{{team_chat.name}} | Chat</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<style>
		body,html{
				height: 100%;
				margin: 0;
				background: #7F7FD5;
			   background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
				background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
			}
			.chat{
				margin-top: auto;
				margin-bottom: auto;

			}
			.card{
				height: 550px;
				border-radius: 15px !important;
				background-color: rgba(0,0,0,0.4) !important;
				overflow: auto;
			}
			.contacts_body{
				padding:  0.75rem 0 !important;
				overflow-y: auto;
				white-space: nowrap;
			}
			.msg_card_body{
				overflow-y: auto;

			}
			.card-header{
				border-radius: 15px 15px 0 0 !important;
				border-bottom: 0 !important;
			}
			.card-footer{
				border-radius: 0 0 15px 15px !important;
				border-top: 0 !important;
			}
			.container{
				align-content: center;
			}
			.search{
				border-radius: 15px 0 0 15px !important;
				background-color: rgba(0,0,0,0.3) !important;
				border:0 !important;
				color:white !important;
			}
			.search:focus{
				 box-shadow:none !important;
			   outline:0px !important;
			}
			.type_msg{
				background-color: rgba(0,0,0,0.3) !important;
				border:0 !important;
				color:white !important;
				height: 60px !important;
				overflow-y: auto;
			}
			.type_msg:focus{
				box-shadow:none !important;
				outline:0px !important;
			}
			.attach_btn{
				border-radius: 15px 0 0 15px !important;
				background-color: rgba(0,0,0,0.3) !important;
				border:0 !important;
				color: white !important;
				cursor: pointer;
			}
			.send_btn{
				border-radius: 0 15px 15px 0 !important;
				background-color: rgba(0,0,0,0.3) !important;
				border:0 !important;
				color: white !important;
				cursor: pointer;
			}
			.search_btn{
				border-radius: 0 15px 15px 0 !important;
				background-color: rgba(0,0,0,0.3) !important;
				border:0 !important;
				color: white !important;
				cursor: pointer;
			}
			.contacts{
				list-style: none;
				padding: 0;
			}
			.contacts li{
				width: 100% !important;
				padding: 5px 10px;
				margin-bottom: 15px !important;
			}
			.active{
				background-color: rgba(0,0,0,0.3);
			}
			.user_img{
				height: 70px;
				width: 70px;
				border:1.5px solid #f5f6fa;
			}
			.user_img_msg{
				height: 40px;
				width: 40px;
				border:1.5px solid #f5f6fa;
			}
			.img_cont{
				position: relative;
				height: 70px;
				width: 70px;
			}
			.img_cont_msg{
				height: 40px;
				width: 40px;
			}
			.online_icon{
				position: absolute;
				height: 15px;
				width:15px;
				background-color: #4cd137;
				border-radius: 50%;
				bottom: 0.2em;
				right: 0.4em;
				border:1.5px solid white;
			}
			.offline{
				background-color: #c23616 !important;
			}
			.user_info{
				margin-top: auto;
				margin-bottom: auto;
				margin-left: 15px;
			}
			.user_info span{
				font-size: 20px;
				color: white;
			}
			.user_info p{
			font-size: 10px;
			color: rgba(255,255,255,0.6);
			}
			.msg_container{
				margin-top: auto;
				margin-bottom: auto;
				margin-left: 10px;
				border-radius: 25px;
				background-color: #82ccdd;
				padding: 10px;
				position: relative;
			}
			.msg_container_send{
				margin-top: auto;
				margin-bottom: auto;
				margin-right: 10px;
				border-radius: px;
				background-color: #78e08f;
				padding: 10px;
				position: relative;
				overflow-x: 10px;
			}
			.msg_time{
				position:;
				left: 0;
				bottom: -15px;
				color: rgba(255,255,255,0.5);
				font-size: 10px;
				overflow-x: auto;
			}
			.msg_time_send{
				position: relative;
				right:0;
				bottom: -15px;
				color: rgba(255,255,255,0.5);
				font-size: 10px;
			}
			.msg_head{
				position: relative;
			}
			@media(max-width: 576px){
			.contacts_card{
				margin-bottom: 15px !important;
			}
		}
	</style>
</head>
{% block content %}
<div class="col-md-8 col-xl-6 chat float-right" >
					<div class="card" >
						<div class="card-header msg_head" >
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="{{user.player.team.avatar_img.url}}" class="rounded user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{team_chat.name}} Team Chat</span>
								</div>
							</div>
						</div>

						<div class="card-body msg_card_body"  id="chat-log" onscroll="weeee()" >
							<div id="inner"></div>
						</div>
						<div>
							<div class="card-footer">
								<div class="input-group">
									<textarea class="form-control type_msg" id="chat-message-input" placeholder="Type your message..."></textarea>
									<span class="btn btn-dark" id="chat-message-submit" ><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
</div>
{% endblock %}
{% block script %}
<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/redvblue/chatroom/'
        + {{team_chat.id}}
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
		var current  = new Date().toLocaleString("en-CA");
		var all = data.message.split(':');
		var MSG = all[1].replace(/^\s+|\s+$|\s+(?=\s)/g, "");
		var AUTH = all[0];
		let str = '{{user}}';
		let my_img = '{{user.player.avatar_img.url}}';
		if (  str  !== AUTH ) {
			document.querySelector('#chat-log').innerHTML +=
			'<div class="d-flex justify-content-start mb-4">' +
				'<div class="img_cont_msg rounded">' +
					'<img src="' + data.avatar + '" class="rounded-circle user_img_msg">' +
					'<h4>' + AUTH + '</h4>' +
				'</div>' +
				'<div class="msg_container rounded">' +
					MSG +
					'<ul><li><span class="msg_time">' +  current + '  </span></li></ul>' +
				'</div>' +
			'</div>';

		} else {
		document.querySelector('#chat-log').innerHTML +=
			'<div class="d-flex justify-content-end mb-4">' +
				'<div class="msg_container_send rounded">' +
					MSG +
					'<ul><li><span class="msg_time">' +  current + '  </span></li></ul>' +
				'</div>' +
				'<div class="img_cont_msg rounded">' +
					'<img src="' + my_img + '" class="rounded-circle user_img_msg">' +
					'<h4>' + AUTH + '</h4>' +
				'</div>' +
			'</div>' + '\n'};
	goToBottom();
	};

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };


    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'player_id': {{user.player.id}},
            'message': message,
            'command': 'fetch_messages'
        }));
        messageInputDom.value = '';
    };

	var mult = 1
    chatSocket.onopen = function(e) {
    	var chat = document.getElementById('chat-log');
    	var msg_html = document.getElementById('load-messages');
    	$.ajax({
    		type: "GET",
			url: '/chat/get_20_msg/{{team_chat.id}}/',
			data: {"mult": mult,},
			dataType: "json",
			success: function (data) {
						$('#inner').prepend(data);
						goToBottom();
        				}
           	});
        };

    function weeee() {
    	var chat = document.getElementById('chat-log');
		if (chat.scrollTop == 0) {
			mult++;
			$.ajax({
				type: "GET",
				url: '/chat/get_20_msg/{{team_chat.id}}/',
				data: {
					"mult": mult,
				},
				dataType: "json",
				success: function (data) {
					var old_height = $("#inner").height();
					$('#inner').prepend(data);
					var new_height = $("#inner").height();
					$('#chat-log').scrollTop(new_height-old_height);
				},
			});
		}
	};

	function goToBottom() {
		const messages = document.getElementById('chat-log');
		messages.scrollTop = messages.scrollHeight
	};

goToBottom();
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
<script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}
