{% for message in messages %}
	{% if requested_user != message.author %}
		<div class="d-flex justify-content-start mb-4">
			<div class="img_cont_msg rounded">
				<img src="{{message.author.avatar_img.url}}" class="rounded-circle user_img_msg">
				<h4>{{message.author}}</h4>
			</div>
			<div class="msg_container rounded">
				{{message.context}}
				<ul><li><span class="msg_time">{{message.date|date:"Y-n-j, g:i:s a"}}</span></li></ul>
			</div>
		</div>
	{%else%}
		<div class="d-flex justify-content-end mb-4">
			<div class="msg_container_send rounded">
				{{message.context}}
				<ul><li><span class="msg_time">{{message.date|date:"Y-n-j, g:i:s a"}}</span></li></ul>
			</div>
			<div class="img_cont_msg rounded">
				<img src="{{message.author.avatar_img.url}}" class="rounded-circle user_img_msg">
				<h4>{{message.author}}</h4>
			</div>
		</div>
	{%endif%}
{%endfor%}
