{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_update' %}"">Edit Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'log_out' %}">Logout</a>
            </li>
        </ul>
      </div>
    </nav>
{% endif %}
