{% load bootstrap5%}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% include 'base.html'%}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home</title>
    <style>
        #id_username {width: 300px; height: 40px}
        #id_password {width: 300px; height: 40px}
        #id_display_name {width: 300px; height: 40px}
    </style>
</head>
{% if user.is_authenticated %}
    <body style="background-image: url('{{user.player.avatar_img.url}}'); background-repeat: repeat" >
        <div style="  margin: auto; width: 50%; padding: 10px; ">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <h1 style="color:{{message.text_color}} "> {{message.team_message}}</h1>
                        <ul class="nav nav-tabs">
                            {% if user.player.team %}
                                <div class="col-lg-4">
                                    <a  href="{% url 'team' pk=user.player.team.id %}" class="btn btn-primary btn-lg"" role="button">Go To My Team</a>
                                </div>
                            {% endif %}
                            <div class="col-lg-4">
                                <a style="text-align:center" type="button" class="btn btn-warning btn-lg" href="/teams/all_teams">View All Teams</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-info btn-lg" href="#creation_dropdown" data-toggle="tab">Create Team</a>
                            </div>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="creation_dropdown">
                                <form action="{% url 'new_team' %}" method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form team_creation_form  %}
                                    {% buttons %}
                                    <button class="btn btn-success" type="submit" >Create Team</button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% else %}
    <body style="margin: auto; width: 50%; padding: 10px; background-image: url('/media/toto.jpg'); background-repeat: no-repeat">
        <h1 style="color:{{message.text_color}}" >{{message.welcome_message}}</h1>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <div class="col-lg-6">
                            <li>
                                <a class="btn btn-info btn-lg btn-block" href="#login_dropdown" data-toggle="tab">Login</a>
                            </li>
                        </div>
                        <div class="col-lg-6">
                            <li>
                                <a  class="btn btn-info btn-lg btn-block" href="#registration_dropdown" data-toggle="tab">Register</a>
                            </li>
                        </div>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="login_dropdown">
                            <form action="{% url 'home' %}" method="post" class="form">
                                {% csrf_token %}
                                {% bootstrap_form login_form %}
                                {% buttons %}
                                <button class="btn btn-success" type="submit" >Login</button>
                                {% endbuttons %}
                            </form>
                        </div>
                        <div class="tab-pane fade" id="registration_dropdown">
                            <form action="{% url 'registration' %}" method="post" class="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form register_form %}
                                {% buttons %}
                                <button type="submit" class="btn btn-info" >Submit</button>
                                {%endbuttons%}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endif %}
{%endblock%}
