{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<body>
<form action="{% url 'profile_update' %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_field form.display_name %}
    {% bootstrap_field form.avatar %}
    {% buttons %}
    <button type="submit" class="btn btn-success" >Submit</button>
    {%endbuttons%}
</form>
</body>
